html,
body {
  margin: 0;
  padding: 0;
}

body,
input {
  font-family: "Open Sans", "Arial", sans-serif;
}

h1,
h2,
h3,
.menu-item-text,
.logo,
.down {
  font-family: "inglobal", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/*div,
article,
ul {
  outline: 1px dashed orangered;
}

h1,
h2,
h3,
b,
p,
a,
li {
  outline: 1px dashed #888888;
}*/

body {
  background-image: url("../img/header-bg.png");
  background-position: center top;
  background-repeat: no-repeat;
  color: #282828;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 91px;
}

.main-navigation {
  position: fixed;
  top: -160px;
  right: 0;
  left: 0;
  z-index: 3;
  height: 88px;
  padding-top: 32px;
  background-color: #ffffff;
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.main-navigation-open {
  top: 0;
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.main-menu {
  padding: 0 0 0 18px;
  box-sizing: border-box;
  text-align: center;
  list-style: none;
}

.menu-item {
  display: inline-block;
  width: 189px;
  /*margin-right: 55px;*/
  vertical-align: top;
  text-align: center;
}

.menu-item:last-of-type {
  margin-right: 0;
}

.menu-item a {
  text-decoration: none;
}

.menu-item span {
  display: block;
}

.menu-item-icon {
  width: 37px;
  height: 35px;
  margin: 0 auto 4px auto;
  background: url("../img/sprite.png") no-repeat;
}

.menu-item:nth-child(1) .menu-item-icon {
  background-position: -5px -282px;
}

.menu-item:nth-child(2) .menu-item-icon {
  background-position: -5px -327px;
}

.menu-item:nth-child(3) .menu-item-icon {
  background-position: -5px -371px;
}

.menu-item:nth-child(4) .menu-item-icon {
  background-position: -5px -416px;
}

.menu-item:nth-child(5) .menu-item-icon {
  background-position: -5px -454px;
}

.menu-item-text {
  color: #969696;
}

.active .menu-item-text {
  color: #ff431e;
}

.header-wrapper {
  position: relative;
  min-height: 661px;
  margin-bottom: 102px;
  background-image: url("../img/header-collage.png");
  background-position: center top;
  background-repeat: no-repeat;
}

.logo {
  font-size: 24px;
  color: #252525;
  text-align: center;
}

.header-logo {
  width: 100px;
  height: 105px;
  margin: 0 auto 200px auto;
  line-height: 105px;
  vertical-align: middle;
  background: url("../img/logo.png") no-repeat;
}

.header-text {
  position: relative;
  width: 680px;
  margin: 0 auto;
  font-size: 48px;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
  text-shadow:
    /*вправо вниз*/
    6px 0 0 #1e1e1e,
    6px 1px 0 #1e1e1e,
    6px 2px 0 #1e1e1e,
    6px 4px 0 #1e1e1e,
    5px 5px 0 #1e1e1e,
    4px 6px 0 #1e1e1e,
    3px 7px 0 #1e1e1e,
    2px 7px 0 #1e1e1e,
    1px 7px 0 #1e1e1e,
    0 7px 0 #1e1e1e,
    /*вправо вверх*/
    5px -1px 0 #1e1e1e,
    4px -2px 0 #1e1e1e,
    3px -2px 0 #1e1e1e,
    2px -2px 0 #1e1e1e,
    1px -2px 0 #1e1e1e,
    0 -2px 0 #1e1e1e,
    /*влево вверх*/
    -1px -2px 0 #1e1e1e,
    -1px -1px 0 #1e1e1e,
    -2px -1px 0 #1e1e1e,
    -2px 0 0 #1e1e1e,
    /*влево вниз*/
    -1px 7px 0 #1e1e1e,
    -2px 6px 0 #1e1e1e,
    -2px 5px 0 #1e1e1e,
    -2px 4px 0 #1e1e1e,
    -2px 3px 0 #1e1e1e,
    -2px 2px 0 #1e1e1e,
    -2px 1px 0 #1e1e1e,
    -2px 0 0 #1e1e1e,
    /*белая подсветка*/
    0 0 50px rgba(255, 255, 255, 0.5);
  transform: rotate(-10.2deg);
}

.header-text span {
  display: block;
}

.header-text-1 {
  padding-left: 75px;
  text-align: left;
}

.header-text-2 {

  text-align: right;
}

.header-text-3 {
  padding-left: 10px;
  text-align: left;
}

.header-wrapper::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -33px;
  left: 0;
  display: block;
  width: 849px;
  height: 122px;
  margin: 0 auto;
  background: url("../img/bubbles.png");
}

.down {
  display: block;
  text-align: center;
  text-decoration: none;
}

.down div {
  display: inline-block;
  vertical-align: top;
}

.down-icon {
  width: 22px;
  height: 42px;
  margin-right: 6px;
  background: url("../img/sprite.png") -5px -130px no-repeat;
}

.desc-down-icon {

}

.down-text {
  height: 42px;
  padding-top: 5px;
  font-size: 18px;
  line-height: 1;
  text-align: left;
}

.desc-down-text {
  color: #ff431e;
}

.description {
  min-height: 726px;
  margin-bottom: 105px;
  background: url("../img/desc-bg.png");
  background-position: 185px top;
  background-repeat: no-repeat;
}

.desc-text {
  float: left;
  width: 510px;
  padding-top: 259px;
}

.desc-heading {
  margin: 0 0 22px 0;
  font-size: 36px;
  color: #0694f8;
}

.desc-paragraph {
  margin: 0;
  line-height: 1.5;
}

.desc-feedback {
  position: relative;
  float: right;
  width: 322px;
  padding: 142px 0 0 97px;
  color: #505050;
  background: url("../img/flag-box.png") 140px 50px no-repeat;
}

.desc-feedback::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0;
  z-index: 2;
  width: 218px;
  height: 204px;
  background: url("../img/hat.png") no-repeat;
}

.feedback-wrap {
  margin-bottom: 79px;
  padding-top: 48px;
  padding-bottom: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
}

.feedback-heading {
  margin: 0 0 20px 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
}

.feedback-heading span,
.feedback-tip span {
  display: block;
  text-align: center;
}

.feedback-bigger {
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.feedback-smaller {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.feedback-form {
  width: 240px;
  margin: 0 auto 27px auto;
}

/*.feedback-form input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}*/

.form input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.form input[type="text"] {
  height: 42px;
  padding-left: 15px;
  font-weight: 700;
  font-size: 12px;
  border: 1px solid #c8c8c8;
  box-shadow:
    inset 1px -1px 3px -1px rgba(0, 0, 0, 0.25),
    inset -5px 5px 9px -5px rgba(0, 0, 0, 0.25);
}

input::placeholder {
  color: #969696;
  opacity: 1;
}

input:placeholder-shown {
  color: #969696;
  opacity: 1;
}

input::-webkit-input-placeholder {
  color: #969696;
  opacity: 1;
}

input::-moz-placeholder {
  color: #969696;
  opacity: 1;
}

input:-moz-placeholder {
  color: #969696;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #969696;
  opacity: 1;
}

.user-name {
  margin-bottom: 12px;
}

.user-email {
  margin-bottom: 19px;
}

.btn {
  height: 38px;
  margin-bottom: 29px;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  border: none;
  background-color: #0694f8;
  box-shadow: 0 2px 0 0 #0568b5;
}

.feedback-form::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: url("../img/divider.png") repeat-x;
}

.feedback-tip {
  margin: 0 0 2px 0;
}

.feedback-phone {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #0694f8;
  text-align: center;
}

.need-down-icon {
  background-position: -5px -182px;
}

.need-down-text {
  color: #0694f8;
}

.why-need {
  min-height: 900px;
  margin-bottom: 105px;
  background: url("../img/pattern.jpg") repeat-x;
}

.clients {
  height: 532px;
  background: url("../img/why-need-backlight.png") center top no-repeat;
}

.clients-wrap {
  width: 796px;
  height: 445px;
  padding-top: 94px;
  margin: 0 auto;
  background: url("../img/notes.png") left 50px no-repeat;
}

.clients-heading {
  margin: 0;
  font-size: 30px;
  text-align: center;
  background-image: linear-gradient(#773404, #aa8045);
  color: transparent;
  text-shadow: -2px 2px 1px rgba(255, 222, 169, 0.3);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.request {
  width: 1266px;
  min-height: 509px;
  margin: 0 auto 27px auto;
  padding-top: 63px;
  background: url("../img/request-bg.png") right top no-repeat;
}

.request-logo {
  margin: 0 0 20px 0;
  color: #1c1d1d;
}

.request-heading {
  margin: 0 0 20px 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.request-bigger {
  font-size: 36px;
  line-height: 1.2;
}

.request-smaller {
  font-size: 18px;
  line-height: 30px;
}

.red {
  font-weight: 700;
  color: #ff431e;
}

.request-heading > span {
  display: block;
  text-align: center;
}

.request-form {
  width: 242px;
  margin: 0 auto;
}

.request-form::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  margin-bottom: 27px;
  background: url("../img/divider.png") repeat-x;
}

.services-down-icon {
  background-position: -5px -182px;
}

.services-down-text {
  color: #0694f8;
}

.services {
  margin-bottom: 70px;
}

.services-wrap {
  position: relative;
  margin-bottom: 159px;
}

.services-left {
  float: left;
  max-width: 343px;
}

.services-right {
  float: right;
  max-width: 350px;
  text-align: right;
}

.serv-heading {
  margin: 0 0 22px 0;
  font-size: 36px;
  line-height: 1.2;
}

.serv-heading-left {
  color: #0694f8;
  text-shadow: -1px 1px 0 #003c66;
}

.serv-heading-right {
  padding-left: 110px;
  color: #ff431e;
  text-shadow: 1px 1px 0 #991900;
}

.serv-text {
  margin: 0 0 32px 0;
  line-height: 24px;
}

.serv-list {
  padding: 0;
  list-style: none;
}

.serv-item {
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
}

.serv-list-left li {
  padding-left: 22px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.serv-list-right li {
  position: relative;
  padding-right: 22px;
}

.serv-list-left li:nth-child(1) {
  background-position: -1px -489px;
}

.serv-list-left li:nth-child(2) {
  background-position: -5px -504px;
}

.serv-list-left li:nth-child(3) {
  background-position: -5px -523px;
}

.serv-list-left li:nth-child(4) {
  background-position: -5px -545px;
}

.serv-list-right li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 13px;
  height: 13px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.serv-list-right li:nth-child(1)::after {
  background-position: -2px -564px;
}

.serv-list-right li:nth-child(2)::after {
  background-position: -5px -580px;
}

.serv-list-right li:nth-child(3)::after {
  top: 3px;
  background-position: -5px -602px;
}

.serv-list-right li:nth-child(4)::after {
  top: 3px;
  background-position: -5px -624px;
}

.serv-image {
  position: absolute;
  top: 79px;
  left: 287px;
  width: 455px;
  height: 509px;
  background: url("../img/services-bg.png") no-repeat;
  shape-outside: circle(50%);
}

.contact-us {
  position: relative;
  z-index: 2;
  width: 401px;
  height: 197px;
  margin: 0 auto 75px auto;
  padding-top: 77px;
  padding-left: 195px;
  background: url("../img/call-us.png") no-repeat;
}

.contact-us-text {
  max-width: 250px;
  margin: 0 0 5px 0;
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
  text-shadow: 0 2px 0 #0784dc;
}

.contact-us-phone {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  font-style: italic;
  color: #ffffff;
  text-shadow: 0 2px 0 #0784dc;
}

.contacts-down-text {
  line-height: 42px;
  vertical-align: middle;
  color: #ff431e;
}

.contacts {
  height: 605px;
  padding-top: 95px;
  color: #ffffff;
  background-color: #0694f8;
  /*background: #0694f8 url("../img/contacts-bg.png") no-repeat;*/
}

.russia-map {
  width: 1068px;
  height: 100%;
  margin: 0 auto;
  background: url("../img/contacts-bg.png") left bottom no-repeat;
}

.contacts-wrap {
  position: relative;
}

.map {
  float: left;
  width: 490px;
  height: 427px;
  background: url("../img/map.png") center 5px no-repeat;
}

.contacts-description {
  float: right;
  width: 442px;
  text-align: right;
}

.contacts-heading,
.contacts-description h3,
.contacts-description p {
  margin: 0;
}

.contacts-heading {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 1.2;
}

.contacts-description p {
  line-height: 1.5;
}

.contacts-description .contacts-tip {
  margin-bottom: 25px;
}

.contacts-description h3 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-style: normal;
  text-transform: uppercase;
}

.contacts-address {
  position: relative;
  margin-bottom: 25px;
}

.contacts-phone {
  position: relative;
  margin-bottom: 30px;
}

.contacts-address::after,
.contacts-phone::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -14px;
  display: block;
  width: 200px;
  height: 1px;
  background-color: #78c7ff;
}

.contacts-phone::after {
  bottom: -19px;
}

.contacts-phone p,
.contacts-email p {
  font-size: 18px;
  line-height: 1;
}

.contacts-email a {
  color: #ffffff;
}

.main-footer {
  height: 160px;
  font-size: 12px;
  color: #787878;
}

.main-footer p {
  height: 160px;
  margin: 0;
  line-height: 160px;
  vertical-align: middle;
}

.copyright {
  float: left;
}

.developer {
  float: right;
}

.developer a {
  color: #787878;
}

.footer-logo {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 24px;
  color: #787878;
}

.modal-feedback {
  position: fixed;
  top: 20%;
  left: -323px;
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.modal-feedback-open {
  left: 0;
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.modal-inner {
  width: 321px;
  padding-top: 48px;
  padding-bottom: 40px;
  background-color: #ffffff;
  border: 1px solid #c8c8c8;
  border-radius: 0 0 5px 0;
}

.modal-label {
  position: absolute;
  top: 75px;
  right: -125px;
  display: block;
  width: 182px;
  height: 50px;
  padding-left: 18px;
  background: url("../img/form-button.png") no-repeat;
  transform: rotate(-90deg);
  text-decoration: none;
}

.modal-label span {
  font-weight: 700;
  font-size: 14px;
  line-height: 50px;
  vertical-align: middle;
  color: #ffffff;
  text-shadow: -1px 0 1px #0568b5;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 98;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-overlay-open {
  display: block;
}

.modal-confirmation {
  position: fixed;
  top: 30%;
  right: 0;
  left: 0;
  z-index: 99;
  display: none;
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 5px;
  animation: bounce 0.6s;
}

.modal-confirmation-open {
  display: block;
}

@-webkit-keyframes bounce {
  0% {-webkit-transform: scale(0);transform: scale(0); }
  80% {-webkit-transform: scale(1.05);transform: scale(1.05); }
  100% {-webkit-transform: scale(1);transform: scale(1); }
}

@keyframes bounce {
  0% {-webkit-transform: scale(0);transform: scale(0); }
  80% {-webkit-transform: scale(1.05);transform: scale(1.05); }
  100% {-webkit-transform: scale(1);transform: scale(1); }
}

.confirm-heading {
  height: 50px;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  font-style: normal;
  color: #ffffff;
  background-color: #ff431e;
  border-radius: 5px 5px 0 0;
}

.confirm-body {
  height: 172px;
  margin: 0;
  padding-top: 37px;
  border: 1px solid #c8c8c8;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.confirm-text {
  width: 210px;
  margin: 0 auto 27px auto;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.confirm-close {
  display: block;
  width: 120px;
  height: 38px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;
  background-color: #ff431e;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 #bb2406;
}
